<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1>Mars Rover Challenge</h1>
    </div>
    <div class="col-md-4"></div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="row">
        <h2>Exploration Bounds:</h2>
        <br>
        <div><p>Exploration bounds set upon entry into input box.</p></div>
        <br>
        <div>
            <label for="X">X&nbsp;</label>
        <input
          #X
          id="X"
          type="text"
          style="width: 100px;"
          [value]="explorationBounds.X"
          (keyup)="setBounds(X.value, X.id)"
        />
        </div>
        
        <br />
        <div>
            <label for="Y">&nbsp;Y&nbsp;</label>
        <input
          #Y
          id="Y"
          type="text"
          style="width: 100px;"
          [value]="explorationBounds.Y"
          (keyup)="setBounds(Y.value, Y.id)"
        />
        </div>
        
      </div>
      <div class="row">
        <h2>Rover Instructions:</h2>
        <p>
          Enter position as a string in the form XYZ. For example, the string
          "12N" would indicate a rover position of 1 unit North, 2 units East, and
          facing in the Northern direction.
        </p>
        <form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup)">
          <div
            formArrayName="instructionsArray"
            *ngFor="let form of instructionsArray.controls; let i = index"
          >
            <div [formGroupName]="i">
              <label for="position">Initial Position: &nbsp;</label>
              <input formControlName="position" />
              <br />
              <label for="instructions">Instructions: &nbsp;</label>
              <input formControlName="instructions" />
              <hr />
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-md-6"> -->
              <button
                class="btn btn-success"
                type="button"
                (click)="addInstructionsForm()"
              >
                Add
              </button>
            <!-- </div> -->
            &nbsp;
            <!-- <div class="col-md-6"> -->
              <button class="btn btn-success" type="submit">
                Transmit Instructions
              </button>
            <!-- </div> -->
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6" *ngIf="finalPositions">
        <h2>Final positions: </h2>
        <div *ngFor="let position of finalPositions; let i = index;">
            <p>Rover {{i}}: {{position.X}}{{position.Y}}{{position.Z}}</p>
        </div>
    </div>
  </div>
</div>
